<div class="container">
  <% if @tag.articles.empty? %>
    <h2>No articles</h2>
  <% else %>
    <div class="row">
      <div class="col-md-10">
        <h1><%= @tag.name %></h1>
        <%= render @tag.articles %>
      </div>
      <div class="col-md-2">
        <%= render 'shared/submenu' %>
      </div>
    </div>
  <% end %>
</div>