body{
  background-color: #FAFAFA;
}
.main {
  padding-top: 1em;
}
.navbar {
  background-color: black;
  padding: 1em;
}
.navbar-brand {
  font-size: 40px;
  margin-left: 2em;
}
.nav-item{
  margin-right: 3em;
}