.tag1{
  font-size: 1.0em;
}
.tag2{
  font-size: 1.2em;
}
.tag3{
  font-size: 1.4em;
}
.tag4{
  font-size: 1.6em;
}
.tag5{
  font-size: 1.8em;
}
h1 {
  font-family: Arial, sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  display: inline;
  cursor: default;
  color: black;
}